.container{
width: 100%;
align-items: center;


}
body{
  text-align: center;
  margin: auto;
  display: block;
  width: 100%;
  align-items: center;
  font-family:cursive;
  font-size:30px;
  margin: 0px;
  background-color:rgb(0,0,102);
}
img.mypics{
  height: 200px;
width: 200px;
}
h2{color:rgb }
